@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(216,216,231,1) 12%, rgba(134,134,207,1) 48%, rgba(184,213,219,1) 100%);
  text-align: center;
}

.vocab {
  padding: 10px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2rem;
}

.nav-btn {
  margin-right: 10px;
}

.submit-vocab-form {
  margin: 10px auto;
  width: 40%;
}

.submit-vocab-form div {
  margin-bottom: 10px;
}

.lang-btn {
  margin-top: 10px;
}

.sort-link {
  color: black;
}