@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(175, 175, 175);
  text-align: center;
}

.vocab {
  padding: 10px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-btn {
  margin-right: 10px;
}

.submit-vocab-form {
  margin: 10px auto;
  width: 40%;
}

.submit-vocab-form div {
  margin-bottom: 10px;
}